body{
    background-color:white;
    text-align: center;
}
.logo{
    position: relative;
    width: 297px;
    margin-top: 10px;
}
.referencia{
    position: relative;
    height: 50px;
}