body{
    background:url(imagens/ceu.png) center  center no-repeat fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;
}
.logo{
    position: relative;
    width: 300px;
    margin-top: 50px;
}
.referencia{
    position: relative;
    height: 45px;
}