body{
    background-color: orange;
    text-align: center;
}
.logo{
    position: relative;
    width: 299px;
    margin-top: 10px;
}
.referencia{
    position: relative;
    height: 45px;
}